.primary_btn{
  background-color: black;
  color: white;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  min-width: 220px;
  border-radius: 5px;
  justify-content: center;
  height: 50px;
  cursor: pointer;

}
.outline_btn{
  background-color: white;
  color: black;
  padding: 10px 18px;
  display: flex; 
  align-items: center;
  gap: 8px;
  margin: 15px 0px;
  font-size: 16px;
  min-width: 220px;
  border-radius: 5px;
  border:1px solid black;
  justify-content: center;
  width: 100%;
  cursor: pointer;


}